html { 
    background: url("friends.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  
  body {
    background-color: rgba(8, 8, 8, 0) !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  
    
   color: white;
}

h1{
    font-size: 8.5rem;
     margin-bottom: 0rem; 
     color:rgb(167, 235, 199);
     font-family: 'Faster One', cursive;
     text-shadow: 4px 4px rgba(8, 8, 8, 0.4);
}

h2{
    font-size: 2.5rem;
     margin-bottom: 0rem; 
     color: black;
     font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

strong{
    text-shadow: 2px 2px rgba(8, 8, 8, 0.4);
}

.btn-light {
    color: #fff;
    background-color: rgb(235, 131, 100);
    border-color: rgb(235, 131, 100);
   
}



.btn {
    display: inline-block;
   padding-bottom: 20px;
   padding: 0 30px 12px 30px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: rgb(235, 131, 100);
    text-shadow: 1px 2px rgba(8, 8, 8, 0.2);
}

#question {

   color: white;

}

hr{

    display: block;
    height: 1px;
    border: 1px;
    border-top: 1px solid rgb(202, 243, 248, 0.7);
    margin: 1em 0;
    padding: 0; 



}

img
{
    width: 100% !important;
}